<div style="display: flex; gap: 10rem">
  <div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Manager</th>
            <th>Stato</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>nome</td>
            <td>desc</td>
            <td>mann</td>
            <td>astat</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngFor="let button of buttons" style="display: flex">

        <button>{{button.value+1}}</button>

    </div>
    
  </div>

  <div *ngIf="taskmanager === 1">
    <h1>ID EMPLOYEE : {{ employeeId }}</h1>
    <button mat-raised-button color="primary">crea ticket</button>
  </div>
</div>

