<div style="display: flex; gap: 5rem">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrizione</th>
          <th>Manager</th>
          <th>Stato</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>nome</td>
          <td>desc</td>
          <td>mann</td>
          <td>astat</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isManager">
    <h1>ID EMPLOYEE : {{ employeeId }}</h1>
    <button mat-raised-button color="primary">crea ticket</button>
  </div>
</div>

