<h2><b>GESTIONALE TICKETS</b></h2>
<body>
  <div style="display: flex; gap: 10rem">
    <div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
              <th>Data Creazione</th>
              <th>Manager</th>
              <th>Stato</th>
              <th> </th>
            </tr>
          </thead>
          <tbody *ngFor="let ticket of tickets">
            <tr>
              <td>{{ticket.taskName}}</td>
              <td>{{ticket.taskDesc}}</td>
              <td> {{ticket.dataCreazione}} </td>
              <td>{{ticket.assegnatario.firstName}} {{ticket.assegnatario.lastName}} </td>
              <td>{{ticket.stato.stateName}}</td>
              <td><button (click)="goToDettaglioTicket(ticket.taskId)">Dettagli </button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="display: inline;" *ngFor="let button of buttons">

        <button style="border-radius: 100px;" (click)="getPageTickets(button.min, button.max)">{{button.value+1}}</button>

      </div>

    </div>

    <div *ngIf="taskmanager == 1">
      <button class="assegnaButton" (click)="goToAssegna()">PREMI QUI PER ASSEGNARE UN TICKET</button>
    </div>

    <router-outlet></router-outlet>
  </div>
</body>