<body>
    <form>
        <p>
            nome task: {{ticket.taskName}}
        </p>
        <p>
            descrizione: {{ticket.taskDesc}}
        </p>

        nuova descrizione: <input type="text" #newDesc>

        <p> stato attuale: {{ ticket.stato.stateName}}</p>

        <ul *ngFor="let s of storico">
            <li> {{s.stato.stateName}}, {{s.dataModifica}} </li>
        </ul>


        <ul *ngFor="let c of commenti">
            <li> {{c.descrizione}} , {{c.data}}</li>
        </ul>


        <select name="stati" id="stati" #selectedState>
            <option *ngFor="let s of statiSenzaNuovo" value="{{s.stateId}}" > {{s.stateName}} </option>
        </select>


        <button (click)="updateTicket(ticket.taskId, newDesc, selectedState )">UPDATE</button>
    </form>

    <p *ngIf="status === 'okay'"> <img style="width: 278px; margin-top: 14px;" src="../../../assets/crimson.jpg"> </p>
</body>