body {
    font-family: Arial, sans-serif;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: crimson;
}

p {
    font-weight: bold;
    align-items: center;
    color: crimson;
    justify-content: center;
}

.formContainer {
    width: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.formContainer button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Stile per input all'interno di mat-form-field */
.formContainer mat-form-field input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box; /* Assicura che il padding non aggiunga dimensioni aggiuntive */
}

/* Stile per il messaggio di errore */
.formContainer .signUp-message-failed {
    margin-top: 10px;
    color: red;
    text-align: center;
}
